html,
body {
  font-family: "Century Gothic", Futura, sans-serif;
}
.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.board {
  width: 30vw;
  min-width: 200px;
  height: 30vw;
  margin: 0 auto;
  background: linear-gradient(#606c38, #c9d6a1);
  color: #fff;
  border: 1vw solid #2c3e50;
  border-radius: 10px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.square {
  background: transparent;
  color: rgb(245, 172, 136);
  font-size: max(5vw, 1.5rem);
  font-weight: bold;
  text-align: center;
  border: 2px solid #2c3e50;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: blur(0.5px);
  cursor: pointer;
}

.square:focus {
  outline: none;
  border: 2px solid rgb(255, 110, 110);
}

.square:hover {
  background: rgb(186, 233, 182);
}

.buttonList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.buttonList button {
  min-height: 20px;
  height: 5vw;
  min-width: 90px;
  width: 10vw;
  font-weight: bolder;
  background: linear-gradient(#939f69, #f2f7e1);
  cursor: pointer;
  border-radius: 7px;
}
.status {
  font-weight: bold;
  font-size: max(5vw, 1rem);
}
